PORT=3000
DATABASE_URL=postgresql://postgres:password@localhost:5432/mi_db
SESSION_SECRET=algo_largo_y_aleatorio
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_STORAGE_BUCKET=
